<div class="span8 offset2">
	<h1>Hey YOU!</h1>
	<h4>You like the idea?</h4>
	<p>
		If you like it and want to give me money to run the server and buy at one day a porti domain? Then you can give me money if you know me or flattr this ;)
	</p>
	<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://porti-shop.flausch.ch"></a>

	<h2>Submit Something?</h2>
	<p>Just <a href="/add">upload</a> something </p>

	<h2>Contact or Problems</h2>
	<p>info [AT] flausch [DOT] ch</p>
</div>